@charset 'utf-8';

// Note: this is meant to be imported by theme-light, theme-dark, etc.

// Scrolling & Overflow

.scroller {
  overflow: auto;
  scrollbar-width: auto;
  scrollbar-color: $scrollbar-color $background;
}
.scroller::-webkit-scrollbar {
  -webkit-appearance: none;  // don't hide scrollbar without hover
  width: 16px;
}
.scroller::-webkit-scrollbar-track {
  background: $background;
}
.scroller::-webkit-scrollbar-thumb {
  background-color: $scrollbar-color ;
  border-radius: 8px;
  border: 4px solid $background;
}
.scroller::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: $scrollbar-hover-color;
}
.scroller::-webkit-scrollbar-thumb:horizontal:active {
  background-color: $scrollbar-hover-color;
}
.scroller::-webkit-scrollbar-thumb:vertical:hover {
  background-color: $scrollbar-hover-color;
}
.scroller::-webkit-scrollbar-thumb:vertical:active {
  background-color: $scrollbar-hover-color;
}

// Toolbars

.toolbar {
  width: 100%;
  padding-left: $gap;
  padding-right: $gap;
  padding-top: $gap;
  padding-bottom: $gap;
  margin-bottom: $gap;
  background-color: $toolbar-background-color;

  @include from($navside-breakpoint) {
    padding-left: 2 * $gap;
    padding-right: 2 * $gap;
    margin-bottom: 2 * $gap;
  }
}

.toolbar .button {
  font-weight: bold;
  margin-bottom: $gap;
}

// Sections

.section-description {
  margin-bottom: $gap;
}
.empty-section {
  padding-top: 0;
  padding-bottom: 0;
  transition: padding-top 0.2s ease-out 0.8s;
  transition: padding-bottom 0.2s ease-out 0.8s;
}

// Cards

.info-card-container {
  padding-right: $gap;
  padding-bottom: $gap;

  @include from($navside-breakpoint) {
    padding-right: 2 * $gap;
    padding-bottom: 2 * $gap;
  }
}
.card.info-card {
  display: inline-block;
  vertical-align: top;
  border-radius: 0;
  width: calc(100% - #{$gap});
  max-width: 36em;
  margin-top: $gap;
  margin-left: $gap;

  @include from($navside-breakpoint) {
    width: calc(100% - #{2 * $gap});
    margin-top: 2 * $gap;
    margin-left: 2 * $gap;
  }
}

// Panels

.panel.entity-panel {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - #{$gap});
  max-width: 36em;
  margin-bottom: $gap;
  margin-right: $gap;
  border-radius: 0.5em;
  background-color: $card-background-color;
  box-shadow: none;

  @include from($navside-breakpoint) {
    width: calc(100% - #{2 * $gap});
    margin-bottom: 2 * $gap;
    margin-right: 2 * $gap;
  }

  .panel-heading {
    padding: $gap;
    margin-bottom: 0;
    border-radius: 0.5em 0.5em 0 0;
    background-color: $card-header-background-color;
    box-shadow: none;
  }

  .panel-block {
    padding-left: $gap;
    padding-right: $gap;
    padding-top: 0.5 * $gap;
    padding-bottom: 0.5 * $gap;
  }

  .panel-block:not(:last-child) {
    border-bottom: 1px solid $card-item-border-color;
  }
}

// Modals

div[data-svelte-dialog-portal] {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 40;
}
div[data-svelte-dialog-overlay] {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 41;
}
.modal {
  // Bulma's default for "position: fixed" causes the modal to freeze the application
  // on the Jetson Nano (aarch64, Ubuntu 18.04), for some reason
  position: absolute;
}
.modal-background {
  background-color: $modal-overlay-background;
}
.drawer-container {
  position: relative;
  background-color: $modal-dialog-background;
  padding: $gap;

  @include from($navside-breakpoint) {
    padding: 2 * $gap;
  }
}
.drawer-container.right-drawer {
  width: 100%;
  max-width: 24em;
  margin-left: auto;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: 100vh;
}
.drawer-container.scroller {
  scrollbar-color: $scrollbar-color $modal-dialog-background;
}
.drawer-container.scroller::-webkit-scrollbar-track {
  background: $modal-dialog-background;
}
.drawer-container.scroller::-webkit-scrollbar-thumb {
  border-color: $modal-dialog-background;
}
.drawer-container .modal-title {
  margin-bottom: $gap;

  @include from($navside-breakpoint) {
    margin-bottom: 2 * $gap;
  }
}
.modal-title h2 {
  display: inline;
}
.modal-title .delete {
  display: block;
  float: right;
}

// Accordions

ul[data-accordion] {
  list-style: none;
  margin: 0;
}
ul[data-accordion] li[data-accordion-item] + li[data-accordion-item] {
  margin-top: 0;
}
li[data-accordion-item] {
  display: block;
  padding: 0;
  margin: 0;
}
.panel.entity-panel li[data-accordion-item].panel-block {
  padding: 0;
}
li[data-accordion-item]>button {
  @include reset;

  display: block;
  width: 100%;
  padding-left: $gap;
  padding-right: $gap;
  padding-top: 0.5 * $gap;
  padding-bottom: 0.5 * $gap;
  cursor: pointer;
  text-align: left;
}
.accordion-header {
  h1, h2, h3, h4, h5, h6 {
    @include reset;
    display: inline;
    font-weight: normal;
  }
}
.accordion-header.level {
  display: flex;
}
button[aria-expanded="true"] .accordion-header .icon {
  transform: rotate(0.5turn);
}
li[data-accordion-item]>div {
  display: unset;
}
.accordion-content {
  width: 100%;
  padding-left: $gap;
  padding-right: $gap;
  padding-top: 0.5 * $gap;
  padding-bottom: $gap;
}

// Tags

.tag.scoped-name {
  display: inline-block;
  background-color: transparent;
  padding: 0;
  border-radius: 1em;
  height: unset;
}
.tag.zerotier-address {
  font-family: $family-monospace;
  color: $zerotier-address-tag-color;
  background-color: $zerotier-address-tag-background-color;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.75em;
}
.zerotier-network-id {
  display: inline-block;
}
.tag.zerotier-network-host {
  font-family: $family-monospace;
  color: $zerotier-address-tag-color;
  background-color: $zerotier-address-tag-background-color;
  padding-left: 0.5em;
  padding-right: 0;
  margin-right: 0;
  border-radius: 0.75em 0 0 0.75em;
}
.tag.zerotier-network-number {
  font-family: $family-monospace;
  color: $zerotier-network-number-tag-color;
  background-color: $zerotier-network-number-tag-background-color;
  padding-left: 0;
  padding-right: 0.5em;
  margin-left: 0;
  border-radius: 0 0.75em 0.75em 0;
}
.tag.zerotier-unknown-network-named {
  display: inline-block;
  background-color: $zerotier-unknown-network-tag-color;
  padding-left: 0.25em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border-radius: 1em;
  height: unset;
}
.tag.zerotier-unknown-network-named .tag.zerotier-network-name {
  display: inline;
  background-color: transparent;
  height: unset;
  white-space: normal;
}
.tag.socket {
  font-family: $family-monospace;
  color: $socket-tag-color;
  background-color: $socket-tag-background-color;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.75em;
}
.tag.ip-address {
  font-family: $family-monospace;
  color: $socket-tag-color;
  background-color: $socket-tag-background-color;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.75em;
}
.tag.ip-subnet {
  font-family: $family-monospace;
  color: $socket-tag-color;
  background-color: $socket-tag-background-color;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.75em;
}
.tag.domain-name {
  font-family: $family-monospace;
  color: $domain-name-tag-color;
  background-color: $domain-name-tag-background-color;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.75em;
}
.tag.mac-address {
  font-family: $family-monospace;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.75em;
}
