@charset 'utf-8';

// Note: this is meant to be imported by theme-light, theme-dark, etc.

// Basic Colors

$primary: $turquoise;
$success: $green;
$danger: $red;
$border: $scheme-main-grey-bis;
$border-hover: $scheme-main-grey-ter;
$border-light: $scheme-main-grey;
$border-light-hover: $scheme-main-grey-ter;
$text: $scheme-invert-grey;
$text-light: $scheme-invert-grey-bis;
$text-strong: $scheme-invert-grey;
$link-hover: $scheme-invert-ter;
$link-hover-border: $scheme-main-grey-ter;
$link-focus: $scheme-invert-ter;
$link-active: $scheme-main-grey;
$link-active-border: $scheme-main-grey-bis;

// Component Customizations

$card-shadow: none;
$modal-overlay-background: rgba(10, 19, 31, 0.75);

// Bulma

@import 'node_modules/bulma/bulma.sass';

// Element Overrides

body {
  scrollbar-width: none;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none;
}

:focus, button.button:focus {
  outline: 4px solid $focus-color;
}

button.is-ghost.is-ahref {
  padding: 0;
  border: none;
  border-radius: 0;
  height: unset;
}
// For some reason, the Bulma tag color classes ignore $success, $danger, etc.
.button.is-primary {
  background-color: $primary;
}

.tag:not(body) {
  padding-left: 0.25em;
  padding-right: 0.25em;
  font-size: $size-normal;
  height: 1.4 * $size-normal;
}
// For some reason, the Bulma tag color classes ignore $success, $danger, etc.
.tag:not(body).is-success {
  background-color: $success;
}
.tag:not(body).is-danger {
  background-color: $danger;
}

.navbar, .navbar-menu, .navbar-start, .navbar-end {
  @include from($navside-breakpoint) {
    flex-direction: column;
  }
}
.navbar {
  min-height: $navbar-height / 2;
  height: 10vh;
  max-height: $navbar-height;
  @include from($navside-breakpoint) {
    height: 100%;
    max-height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: $navside-navbar-width;
  }
}
.navbar-brand {
  @include until($navside-breakpoint) {
    min-height: $navbar-height / 2;
    height: 100%;
    max-height: $navbar-height;
  }
  @include from($navside-breakpoint) {
    margin-top: 2 * $gap;
    min-height: 0;
  }
}
.navbar-brand.left-burger {
  align-items: flex-start;

  .navbar-burger {
    margin-left: 0;
    margin-right: 0;
  }
}
.navbar-burger {
  width: 10vh;
  max-width: $navbar-height;
  height: 100%;
  max-height: $navbar-height;
}
.navbar-burger span {
  transition: unset;
}
.navbar-menu {
  @include until($navbar-breakpoint) {
    display: block;
    visibility: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;
    scrollbar-width: none;
  }
}
.navbar-menu::-webkit-scrollbar {
  display: none;
}
.navbar-menu.is-active {
  @include until($navbar-breakpoint) {
    display: block;
    max-height: 90vh;
    visibility: visible;
    padding-top: $gap;
    padding-bottom: $gap;
    overflow: auto;
  }
}
.navbar-start {
  @include from($navside-breakpoint) {
    width: 100%;
  }
}
.navbar-item {
  padding-top: 0;
  padding-bottom: 0;
  .buttons {
    @include until($navside-breakpoint) {
      margin-top: auto;
      margin-bottom: auto;
      height: 100%;
    }
    @include from($navside-breakpoint) {
      margin-top: $navbar-margin;
      margin-bottom: $navbar-margin;
    }
  }
  .button {
    border-radius: 0;
    margin-top: auto;
    margin-bottom: auto;
    @include from($navbar-breakpoint) {
      height: 100%;
      max-height: $navbar-height * 0.625;
    }
  }
  .button.is-active:not(:hover), .button:hover, .button:focus {
    color: $navbar-button-active-color;
    background-color: $navbar-button-active-background;
  }
  .button:focus {
    outline: 4px solid $focus-color;
  }
}
a.navbar-item {
  margin: $navbar-margin;
  padding: 0.5em;

  @include from($navbar-breakpoint) {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0em;
    height: 100%;
    max-height: $navbar-height * 0.625;
  }

  @include from($navside-breakpoint) {
    margin-top: 0em;
    margin-bottom: $navbar-margin;
    margin-right: $navbar-margin;
    height: unset;
  }
}
a.navbar-item.is-active:not(:focus):not(:hover), a.navbar-item:hover, a.navbar-item:focus {
  color: $navbar-button-active-color;
  background-color: $navbar-button-active-background;
}
.navbar-end {
  @include from($navside-breakpoint) {
    margin-top: auto;
    margin-right: auto;
    margin-bottom: $navbar-margin;
  }
}

.field .message {
  margin-top: $gap;
}
.field .message .message-body {
  padding: $gap;
}
// For some reason, the Bulma tag color classes ignore $success, $danger, etc.
.message.is-danger {
  background-color: $danger-light;
}
