@charset 'utf-8';

// Note: this is meant to be imported by theme-light, theme-dark, etc.

// Basic Colors

$border: $scheme-main-grey-bis;
$border-hover: $scheme-main-grey-ter;
$border-light: $scheme-main-grey;
$border-light-hover: $scheme-main-grey-ter;
$text: $scheme-invert-grey-bis;
$text-light: $scheme-invert-grey-ter;
$text-strong: $scheme-invert-grey;
$link-hover: $scheme-invert-grey;
$link-hover-border: $scheme-main-grey-ter;
$link-focus: $scheme-invert-grey;
$link-active: $scheme-main-grey;
$link-active-border: $scheme-main-grey-bis;

// Bulma

@import 'node_modules/bulma/bulma.sass';

// Element overrides

.scroller {
  overflow: visible;
  scrollbar-width: auto;
  scrollbar-color: $scrollbar-color $scrollbar-background;
}
.scroller::-webkit-scrollbar {
  -webkit-appearance: none;  // don't hide scrollbar without hover
  width: 12px;
}
.scroller::-webkit-scrollbar-track {
  background: $scrollbar-background;
}
.scroller::-webkit-scrollbar-thumb {
  background-color: $scrollbar-color ;
  border-radius: 6px;
  border: 3px solid $scrollbar-background;
}
.scroller::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: $scrollbar-hover-color;
}
.scroller::-webkit-scrollbar-thumb:horizontal:active {
  background-color: $scrollbar-hover-color;
}
.scroller::-webkit-scrollbar-thumb:vertical:hover {
  background-color: $scrollbar-hover-color;
}
.scroller::-webkit-scrollbar-thumb:vertical:active {
  background-color: $scrollbar-hover-color;
}

.navbar, .navbar-menu, .navbar-start, .navbar-end {
  @include from($navside-breakpoint) {
    flex-direction: column;
  }
}

.navbar {
  min-height: $navbar-height;
  height: 25vh;
  max-height: 4em;
  @include until($navbar-breakpoint) {
    height: $navbar-height;
  }
  @include from($navside-breakpoint) {
    height: 100%;
    max-height: 100%;
  }

  .navbar-brand {
    @include from($navside-breakpoint) {
      min-height: 0em;
    }
  }
  .navbar-menu {
    .navbar-end {
      @include from($navside-breakpoint) {
        margin-top: auto;
        margin-right: auto;
        margin-bottom: $navbar-margin;
      }
    }

    a.navbar-item {
      margin: $navbar-margin;
      padding: 0.5em;

      @include from($navbar-breakpoint) {
        margin-right: 0em;
      }

      @include from($navside-breakpoint) {
        margin-top: $navbar-margin;
        margin-bottom: 0em;
        margin-right: $navbar-margin;
      }
    }
    a.navbar-item.is-active:not(:hover), a.navbar-item:hover, a.navbar-item:focus {
      color: $navbar-button-active-color;
      background-color: $navbar-button-active-background;
    }
  }

  button:focus {
    color: $scheme-invert;
    background-color: $scheme-main-grey-bis;
  }
}
